root = true

[*]
indent_style = tab
insert_final_newline = true

# tabs not allowed? no worries! let's just make this terrible for everyone with "normal" eyesight.
[*.yaml]
indent_size = 1
indent_style = space

[*.md]
indent_size = 2

[utils/*]
indent_style = unset

# FIXME: remove this once alejandra finally lets me change spaces to tabs
[*.nix]
indent_style = space
