# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
CACHING_METHOD="redis"  # can be "redis", "object" or "none". Defaults to object if redis cannot be found.
PUB_DOMAIN="l.soopy.moe"
PUB_ENABLE_JOHN=true
PUB_GIT_REPO="https://patchy.soopy.moe/cassie/linkify"
