:root {
    @media (prefers-color-scheme: light) {
        --primary: #000;
        --secondary: #fff;
        --red: rgb(255, 112, 112);
    }

    @media (prefers-color-scheme: dark) {
        --primary: #fff;
        --secondary: #000;
        --red: rgb(255, 160, 160);
    }
}

body {
    background-color: var(--secondary);
    color: var(--primary);
}

button {
    font-family: inherit;
    background-color: var(--primary);
    color: var(--secondary);
}